.btn-search {
    width: 100%;
    height: 34px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.head-container{
    padding: 0;
}

.addition-form{
    display: flex;
    margin: 2px;
}

.search-group{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    top: 38%;
    left: 61%;
    /* float: left; */
    max-width: 700px;
    transform: translate(-50%,-50%);
}

.login-form{
    position: absolute;
    right: 21%;
    display: flex;
}

.margin{
    margin:5px;
}


.art-container{
    display: flex;
    background-color: #eee;
}

.art-container_img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
    min-width: 200px;
    max-width: 380px;
}

.art-container_cont-image{
    width: 100%;
}

.art-container_cont-text{
    word-break: break-word;
}

.art-container_btn{
    margin: 5px
}

@media (min-width: 768px){
    .art-container_content{
        width: 635px;
    }
}

@media (max-width:768px){
    .art-container_img-container{
        width: 200px
    }
}

@media (max-width:992px){
    .art-container_img-container{
        width: 280px;
    }
}

@media (min-width: 1200px){
    .art-container_content{
        width: 900px;;
    }
}